.App {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main {
  /* display: grid; */
  display: flex;
  /* grid-template-columns: 1fr 5fr; */
  margin-right: 1rem;
  align-items: start;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  margin: 3rem;
}

.game-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
  gap: 1rem;
} 

.filter {
  display: flex;
  flex-direction: column;
  /* margin: 1.1rem; */
  margin: 1.2rem 1.5rem 0 2rem;
  /* float: left; */
}

/* .header-icon {
  float: left;
  margin: 0 1rem;
} */